<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= link_to 'Invoices', invoices_path, class: 'text-dark' %>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= link_to 'Uploads', invoice_bulk_uploads_path, class: 'text-dark' %>
  </li>
</ul>