<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/"><i class="fas fa-vial"></i> Test Type A</a>
    <div class="text-right">
      <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-bell text-dark"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>