<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand text-primary" href="/"><i class="fas fa-vial"></i> Test TypeA</a>
    <div class="text-right">
      <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item">
          <%= link_to 'Upload', new_invoice_bulk_upload_path, class: 'btn btn-outline-primary mr-3' %>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-bell text-primary"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>