<div class="alert alert-light" data-controller="invoice--bulk-upload--processing">
  <strong>
    <i class="fas fa-circle-notch fa-spin mr-1"></i>
    Processing...
  </strong>
  <span data-target="invoice--bulk-upload--processing.info"></span>
  <div class="progress mt-3">
    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <ul data-target="invoice--bulk-upload--processing.errors" class="text-danger mt-2 px-3">
    <li>
      Line 3 Id can't be blank.
    </li>
  </ul>
</div>